.footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;
}
.home-div{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 25px 45px;
}
.home-button{
    padding: 25px 75px;
    border-radius: 25px;
    font-size: 20px;
    border: none;
    background-color: hsl(222, 95%, 43%);
}
.home-button:hover{
    background-color: hsl(222, 95%, 35%);
}
.home-button:active{
    background-color: hsl(222, 95%, 30%);
}